.table_row{
  margin-top: 100px;
}

.information{
  margin-top: 20px 20px ;
  padding: 20px 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_icons {
  position: relative;
}

.info_icon{
  position: absolute;
  top:5px;
  left:0px;
}

.fa-circle{
  color:#0099e8;
}

.fa-phone{
color:#475D77;
}

.phone_info{
  margin: 10px auto;
  position: relative;
  text-align: center;
}

.phone_info-2{
  color: #0456CD;
}


.phone_number{
  font-size: 26px;
  margin-left: 15px;
}

