
.phone_info{
  padding: 20px ;
  position: relative;
  text-align: center;
}

.phone_info-2{
  font-size: 15px;
}


.phone_number{
  font-size: 26px;
  margin-left: 15px;
}

.store_phone_info{
  color: aliceblue;
}

.phone_number_area{
  padding-bottom: 30px;
}