<div class="phone_info bg-secondary text-white">
    <p class="phone_info-2">お電話でのお問い合わせは</p>
    <div class="phone_number_area">
      <i class="fas fa-phone fa-lg store_phone_info"></i>
      <span class="phone_number">0120-xxx-xxxx</span>
    </div>
</div>