
<%= render partial: "shared/header", locals:{ reservation: @reservation}%>

<div class="container pt-5">
  <div class="row">

<!--ここからカレンダー-->
    <div class="col-12 mt-3 text-right">

        <div class="col-12 mt-3 text-right">
            <%= week_calendar events: @reservations do |date, reservations| %>
              <%= date.day %>
            <% end %>
        <%# <% end %>
        </div>
    </div>
  </div>
</div>
