<header>
<%= render partial: "shared/header", locals:{ reservation: @reservation}%>
</header>
<body>
<%# <div class="container pt-5"> %>
  <div class="table_row">

<!--ここからカレンダー-->
    <div class="col-12 mt-3 text-right">

        <div class="col-md-12 mt-3">
            <%= week_calendar events: @reservations do |date, reservations| %>
              <%= date.day %>
            <% end %>
        <%# <% end %>
        </div>
    </div>
  </div>
<%# </div> %>
</body>