.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  border: none;
}

.login-blue-btn {
  width: 100%;
  color: #fff;
  background-color:#475D77 ;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.indispensable {
  background: #C396C3;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.743);
  font-size: 12px;
  font-weight: bold;
}

.actions_to_registration{
  width:50%;
  text-align: right;
  padding-top:10px;
  margin: auto;
}