.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  border: none;
}

.login-blue-btn {
  width: 100%;
  color: #fff;
  /* background-color:#475D77 ; */
  background-color:#C396C3 ;
  line-height: 48px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.indispensable {
  background: #C396C3;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.743);
  font-size: 12px;
  font-weight: bold;
}

.actions_to_registration{
  width:50%;
  text-align: center;
  padding:10px 0;
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.actions_to_registration a{
  font-size: 14px;
}